body {
    margin:0;
    padding:0;
    font-family:tahoma;
}

h1{
    padding: 25px;
    background-color: #a3b0e9;
    margin-top:0;
    color:#656f9d;
    letter-spacing: -2px;
}

section{
    padding: 20px;
}

td{
    padding: 10px;
}

th{
    padding:6px;
    background-color:#e5eaff;
    font-weight:normal;
}

#arrumar{
    margin:10px;
}
